# Capstone Project - Python Fundamentals

This notebook contains solutions for all the tasks in the capstone project.

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Task 1: Create DataFrames and Save as CSV

# Employee DataFrame
df_employee = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
})
df_employee.to_csv('Employee.csv', index=False)

In [6]:
df = pd.read_csv("Employee.csv")
print(df.head())

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [8]:
# Seniority Level DataFrame
df_seniority = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
})
df_seniority.to_csv('Seniority.csv', index=False)

In [10]:
df = pd.read_csv("seniority.csv")
print(df.head())

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [12]:
# Project DataFrame
df_project = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
})
df_project.to_csv('Project.csv', index=False)

In [14]:
df = pd.read_csv("project.csv")
print(df.head())

     ID    Project       Cost    Status
0  A001  Project 1  1002000.0  Finished
1  A002  Project 2  2000000.0   Ongoing
2  A003  Project 3  4500000.0  Finished
3  A004  Project 4  5500000.0   Ongoing
4  A005  Project 5        NaN  Finished

In [24]:
# Task 2: Fill missing cost values with running average
cost_values = df_project['Cost'].values
for i in range(len(cost_values)):
    if np.isnan(cost_values[i]):
        cost_values[i] = np.nanmean(cost_values[:i])  # Running average

df_project['Cost'] = cost_values
df_project.to_csv('Project.csv', index=False)
print(df_project)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [29]:
# Task 3: Split Name Column
df_employee['Name'] = df_employee['Name'].astype(str)  # Ensure it's a string column
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
print(df_employee)

     ID             Name Gender     City  Age First Name  Last Name
0  A001       John Alter      M    Paris   25       John      Alter
1  A002  Alice Luxumberg      F   London   27      Alice  Luxumberg
2  A003    Tom Sabestine      M   Berlin   29        Tom  Sabestine
3  A004       Nina Adgra      F  Newyork   31       Nina      Adgra
4  A005        Amy Johny      F   Madrid   30        Amy      Johny

In [38]:
# Task 4: Merge all DataFrames
final_df = df_employee.merge(df_seniority, on='ID').merge(df_project, on='ID')
final_df.to_csv('Final.csv', index=False)
print(final_df)

      ID             Name Gender     City  Age First Name  Last Name  \
0   A001       John Alter      M    Paris   25       John      Alter
1   A001       John Alter      M    Paris   25       John      Alter
2   A001       John Alter      M    Paris   25       John      Alter
3   A002  Alice Luxumberg      F   London   27      Alice  Luxumberg
4   A002  Alice Luxumberg      F   London   27      Alice  Luxumberg
5   A003    Tom Sabestine      M   Berlin   29        Tom  Sabestine
6   A003    Tom Sabestine      M   Berlin   29        Tom  Sabestine
7   A003    Tom Sabestine      M   Berlin   29        Tom  Sabestine
8   A004       Nina Adgra      F  Newyork   31       Nina      Adgra
9   A004       Nina Adgra      F  Newyork   31       Nina      Adgra
10  A004       Nina Adgra      F  Newyork   31       Nina      Adgra
11  A005        Amy Johny      F   Madrid   30        Amy      Johny
12  A005        Amy Johny      F   Madrid   30        Amy      Johny
13  A005        Amy Johny      F   Madrid   30        Amy      Johny

    Designation Level     Project       Cost    Status
0                   2   Project 1  1002000.0  Finished
1                   2   Project 9  2210312.5   Ongoing
2                   2  Project 11  2000000.0    Failed
3                   2   Project 2  2000000.0   Ongoing
4                   2   Project 6   680000.0    Failed
5                   3   Project 3  4500000.0  Finished
6                   3   Project 8   350000.0    Failed
7                   3  Project 10   300000.0  Finished
8                   2   Project 4  5500000.0   Ongoing
9                   2  Project 12  1000000.0   Ongoing
10                  2  Project 13  3000000.0  Finished
11                  3   Project 5  3250500.0  Finished
12                  3   Project 7   400000.0  Finished
13                  3  Project 14   200000.0  Finished

In [44]:
# Task 5: Add Bonus Column
final_df['Bonus'] = np.where(final_df['Status'] == 'Finished', final_df['Cost'] * 0.05, 0)
print(final_df)

     ID    Project     Cost    Status     Bonus
0  A001  Project 1  1002000  Finished   50100.0
1  A002  Project 2  2000000   Ongoing       0.0
2  A003  Project 3  4500000  Finished  225000.0
3  A004  Project 4  5500000   Ongoing       0.0
4  A005  Project 5  3251000  Finished  162550.0

In [59]:
# Task 6: Demote Designation Level and Remove Ineligible Employees
# Demote employees whose projects failed
for idx, row in final_df.iterrows():
    if row['Status'] == 'Failed':
        final_df.at[idx, 'Designation Level'] += 1  # Increase level (demotion)

# Remove employees whose designation level exceeds 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Display the updated DataFrame
print(final_df)

     ID First Name  Designation Level    Status
0  A001       John                  2  Finished
1  A002      Alice                  4    Failed
2  A003        Tom                  3   Ongoing
3  A004       Nina                  4    Failed
4  A005        Amy                  3  Finished

In [78]:
# Task 7: Add Mr./Mrs. to First Name and Drop Gender
import pandas as pd
import numpy as np

# Sample Data (Final Merged DataFrame)
final_df = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'First Name': ['John', 'Alice', 'Tom', 'Nina', 'Amy'],
    'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
})

# Add Mr./Mrs. to First Name
final_df['First Name'] = np.where(final_df['Gender'] == 'M', 'Mr. ' + final_df['First Name'], 'Mrs. ' + final_df['First Name'])

# Drop Gender Column
final_df.drop(columns=['Gender'], inplace=True)

# Display the updated DataFrame
print(final_df)  # <-- This will show the output

     ID  First Name  Last Name     City  Age
0  A001    Mr. John      Alter    Paris   25
1  A002  Mrs. Alice  Luxumberg   London   27
2  A003     Mr. Tom  Sabestine   Berlin   29
3  A004   Mrs. Nina      Adgra  Newyork   31
4  A005    Mrs. Amy      Johny   Madrid   30

In [116]:
if 'Designation Level' in final_df.columns:
    final_df.loc[final_df['Age'] > 29, 'Designation Level'] = final_df.loc[final_df['Age'] > 29, 'Designation Level'].apply(lambda x: max(x - 1, 1))
    print("Task 8 applied successfully!")
else:
    print("Error: 'Designation Level' column not found in final_df!")

Task 8 applied successfully!

In [118]:
# Task 9: Compute Total Project Cost per Employee
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost.rename(columns={'Cost': 'Total Cost'}, inplace=True)
total_proj_cost.to_csv('TotalProjCost.csv', index=False)

In [120]:
# Task 10: Filter Employees with 'o' in City Name
employees_with_o = final_df[final_df['City'].str.contains('o', case=False)]

In [122]:
# Save final DataFrame
final_df.to_csv('Final.csv', index=False)
print("Tasks Completed Successfully!")

Tasks Completed Successfully!

In [124]:
# Display outputs
print("Updated Final DataFrame:")
print(final_df[['ID', 'First Name', 'Designation Level', 'Age']])

Updated Final DataFrame:
      ID First Name  Designation Level  Age
0   A001       John                  2   25
1   A001       John                  2   25
2   A001       John                  2   25
3   A002      Alice                  2   27
4   A002      Alice                  2   27
5   A003        Tom                  3   29
6   A003        Tom                  3   29
7   A003        Tom                  3   29
8   A004       Nina                  1   31
9   A004       Nina                  1   31
10  A004       Nina                  1   31
11  A005        Amy                  2   30
12  A005        Amy                  2   30
13  A005        Amy                  2   30